# Copyright FUJITSU LIMITED 2017
language: java
jdk: oraclejdk8

services:
  - docker
addons:
  sonarqube:
    organization: blueprint-service
    token:
      secure: $SONAR_TOKEN
    branches:
      - master

script:
- mvn clean install -P docker
- mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar