# Copyright FUJITSU LIMITED 2017
language: java
jdk: oraclejdk8

services:
  - docker
addons:
  sonarqube:
    organization: blueprint-service
    token:
      secure: $SONAR_TOKEN

before_install:
  - pip install --user codecov

script:
- mvn clean install -P docker -Ddocker.username=$DOCKER_USER -Ddocker.password=$DOCKER_PWD
- mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar

after_success:
  - codecov